$header-height: 80px;
$slider-triangle-height: 28px;
$mobile-width: 375px;
$order-details-item1-width: 222px;
$order-details-item2-width: 118px;
$order-menu-item-height: 70px;
$footer-height: 110px;

$little-margin: 5px;
$margin-small: 15px;
$margin-big: 40px;
$margin-large: 70px;
$padding-middle: 30px;
$padding-normal: 25px;
$padding-small: 20px;
$padding-smallest: 10px;
$padding-big: 40px;
$padding-bigger: 60px;
$padding-huge: 80px;
$padding-large: 100px;

$border-order-info: 5px;


$white: #ffffff;
$white-grey: rgba(255, 255, 255, 0.2);
$white-grey-deeper: rgba(255, 255, 255, 0.3);
$white-deeper: rgba(255, 255, 255, 0.4);
$border-grey: #D1D1D1;
$light-grey: #A3A1A1;
$warm-grey: rgba(163, 161, 161, 0.1);
$grey-darker: rgba(163, 161, 161, 0.2);
$warm-grey-light: rgba(163, 161, 161, 0.3);
$warm-grey-less-strong: rgba(76, 76, 76, 0.4);
$warm-grey-strong: rgba(163, 161, 161, 0.5);
$grey: #717171;
$medium-grey: #4C4C4C;
$dark-grey: #3B3B3B;
$black: #030202;
$light-mint: #4EBE7F;
$dark-mint: #4EBE7F;
$emerald: #0BA14B;
$green: #0BA14C;
$jade-green: #2CAE64;
$dark-green: #00642B;
$sky-blue: #30B5EE;
$azure: #08ADF4;
$blue: #019DE0;
$dark-blue: #015579;
$rose: #ED5B5B;
$purpure: #D73030;
$red: #AE3B3B;
$rusty-red: #B31515;
$bordo: #670000;
$sand-yellow: rgba(255, 244, 114, 0.5);
$light-yellow: #FFF472;
$yellow: #FFF149;
$dark-yellow: #F8E71C;
$herbal: #A19400;
$input-color: rgba(76,76,76,0.4);

$border-order: solid 1px $warm-grey-light;