.order-menu {
	.rates {
		height: calc(100% - 137px);
		width: 100%;
		tr:nth-last-child(3), tr:nth-last-child(2) {
			
		}
		.date {
			padding-left: $padding-normal;
			padding-top: $padding-normal - 2px;	
		}
		.last-child {
			padding-bottom: ($padding-normal - 2px) * 2;
		}	
		.rate-item {
			@include body-text;
		}
		.date {
			width: 175px / 375px * 100%; 
		}
		.rate-item {
			width: 57px / 375px * 100%;
		}
		td {
			width: (375px - 175px - 57px) / 375px * 100%;
		}
	}	
}
.rates {
	position: relative;
}
.transparent-gradient {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background: -webkit-linear-gradient(rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
	background: linear-gradient(rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}			
.triangle-red {
	width: 0;
	height: 0;
	display: inline-block;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: $purpure transparent transparent transparent;
	vertical-align: middle;
}
.triangle-green {
	width: 0;
	height: 0;
	display: inline-block;
	border-style: solid;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent $jade-green transparent;
	vertical-align: middle;
}
table {
	.bank-details {
		td {
			padding-right: $padding-big;
		} 
		.branch-name {
			padding-top: $padding-small;
			@include body-text;
		}
		.branch-phone {
			@extend .branch-name;
		}
		.branch-number {
			@include secondary-text;
		}
	}
}	